
/*
    BASE LAYOUT CSS

    Colors

    hightlight   #EB3E4F
*/


body{font-family: 'Titillium Web', sans-serif !important;background: #F5F5F6; font-display: auto;}

*{box-sizing: border-box;}


/* @HEADER SECTION */
header {
    background-color: #ee1d23;
    padding: 0.5rem 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
header .header-wrapper {
    padding: 0rem 1.25rem;
}
header  .header-wrapper .logo {
    margin-left: 0.4rem;
}



/* #HEADER SECTION */

aside img {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

/* @NAV SECTION */
nav {

}
/* #NAV SECTION */
.form-search {
    margin-bottom: 1.2rem;
}
.form-search .form-search-input-wrapper, .form-search  .form-search-button-wrapper {
    display: flex;
    align-items: center;
    margin: 0.1rem;
}

.form-search  .form-search-button-wrapper {
    display: flex;
    justify-content: center;
}

.form-order-by {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.form-order-by button i {
    margin-left: 5px;
}
.form-order-by .active-button {
    opacity: 1;
}
.form-order-by button {
    opacity: 0.8;
}
.form-order-by button, .form-search button {
    background-color: #646465;
    margin: 0.1rem;
    color: #FFF;
}
.form-search button {
    width: 100%;
    margin: 0 15px;
}

/* @MAIN SECTION */
main {

}

main section {

}

main section article {

}

.pagination .page-link {
    color: #818387;
}
.page-item.active .page-link {
    background-color: #646465;
}
/* @MAIN SECTION - HOME ARTICLE */
.section-form-search {
    background-color: #FFF;
    padding: 1.25rem 1.25rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

main section article.home-article-element {
    margin-top: 1.5rem;
    cursor: pointer;
    background-color: #FFF;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
main section article.home-article-element figure {
    display: flex;
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;

}

main section article.home-article-element .home-article-element-relevante {
    position: absolute;
    top: 0;
    right: 10px;
    color: #FFF;
    font-size: 28px;
}

main section article.home-article-element a  {
    color: black;
}

main section article.home-article-element a:hover {
    text-decoration: none;
}

main section article.home-article-element .home-article-element-body {
    position: relative;
    padding: 1.25rem 1.25rem 1rem 1.25rem;
}

main section article.home-article-element  .home-article-element-footer {
    border-top: 1px solid rgba(160,160,160,0.2);
    position: relative;
    padding: 1rem 1.25rem 1rem 1.25rem;
}

main section article.home-article-element .home-article-element-body .home-article-element-body-logo {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ee1d23;
    width: 30%;
    padding: 10px;
}
main section article.home-article-element .home-article-element-body .home-article-element-body-logo img {
    width: 100%;
}

main section article.home-article-element .home-article-element-cost {

    font-weight: bold;
    font-size: 1.5rem;
}

main section article.home-article-element .home-article-element-dimensioncost {
    margin-top: 1rem;
}
main section article.home-article-element .home-article-element-title {
    margin-top: 0.7rem;
    font-weight: bold;
    font-size: 1.1rem;
}
main section article.home-article-element .home-article-element-description {
    color: #818387;
}
main section article.home-article-element .home-article-element-contact {

}

main section article.home-article-element .home-article-element-contact i {
    margin-right: 0.5rem;
}
/* #MAIN SECTION - HOME ARTICLE */

main section article.local-article {
    margin-top: 1.5rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
main section article.local-article .local-article-body {
    padding: 1.25rem;
}
main section article.local-article .local-article-main-image {
    width: 100%;
}

main section article.local-article h1 {
    margin-top: 1rem;
}
main section article.local-article h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

main section .local-article-footer {
    border-top: 1px solid rgba(160,160,160,0.2);
    position: relative;
    padding: 1rem 1.25rem 1rem 1.25rem;
}

main section .form-solicitud {
    margin-top: 1.5rem;
    padding: 1.25rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    background-color: #FFF;
}
main section .form-solicitud h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}
main section .form-solicitud button {
    width: 100%;
}
/* #MAIN SECTION */


/* @FOOTER SECTION */
footer {
    background-color: #313131;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 5rem;
}
footer .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    font-size: 16px;
    color: #999999;
}
footer .footer-links > span {
    margin: 0 0.4rem;
}

footer .footer-links a {
    text-decoration: none;
    color: #eb3e4f;
}

footer .footer-links a:hover {
    text-decoration: none;
}
footer .footer-logos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
footer .footer-logos img {
    width: 100%;
}
/* #FOOTER SECTION */


.admin-table-section {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.admin-table-wrapper {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.admin-table-wrapper-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.admin-table-wrapper-filters {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 1.25rem;
}
.admin-table-wrapper-filters-group {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    overflow: hidden;
    padding-top: 25px;
    position: relative;
}
.admin-table-wrapper-filters-group label {
    font-size: 0.8rem;
    margin-left: 0.2rem;
    margin-bottom: 0.2rem;
    position: absolute;
    top: 0;
    transition: all 0.3s;
}

.admin-table-wrapper-filters-group:hover label {
    font-size: 1rem;
    transition: all 0.3s;
    top: -5px;;
}
.admin-table-wrapper-filters-group input, .admin-table-wrapper-filters-group select {
    padding: .25rem .5rem;
    padding-top: 0.25rem;
    padding-right: 0.5rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    height: calc(1.5em + .5rem + 2px);
}
.admin-table-wrapper-header-title {
    font-weight: bolder;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.admin-table-wrapper-header-info {

}

.admin-table-wrapper-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.admin-table-wrapper-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.admin-table-wrapper .admin-table {
    width: 100%;
    border-collapse: collapse;
}

.admin-table-wrapper .admin-table thead tr {

}

.admin-table-wrapper .admin-table tbody tr:hover {
    background-color: rgba(0,0,0,.075);
}
.admin-table-wrapper .admin-table thead tr th {
    border: 1px solid #dee2e6;
    padding: .75rem;
    vertical-align: middle;
}

.admin-table-wrapper .admin-table .admin-table-actions-col-wrapper {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.admin-table-wrapper .admin-table tbody td {
    border: 1px solid #dee2e6;
    padding: .30rem .70rem;
    vertical-align: middle;
}






.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.resp-sharing-button--linkedin {
  background-color: #0077b5;
  border-color: #0077b5;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  background-color: #046293;
  border-color: #046293;
}

.resp-sharing-button--whatsapp {
  background-color: #25D366;
  border-color: #25D366;
}

.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
  background-color: #1DA851;
  border-color: #1DA851;
}
