
/*
    BASE LAYOUT CSS

    Colors

    hightlight   #EB3E4F
*/


body{font-family: 'Titillium Web', sans-serif !important;background: #FFF; font-display: auto;}

*{box-sizing: border-box;}


/* @HEADER SECTION */
header {
    background-color: #ee1d23;
    min-height: 50px;
}
/* #HEADER SECTION */



/* @NAV SECTION */
nav {

}
/* #NAV SECTION */
.form-search {
    margin: 2rem 0;
}
.form-search .form-search-input-wrapper, .form-search  .form-search-button-wrapper {
    display: flex;
    align-items: center;
}

.form-search  .form-search-button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.form-order-by {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 2rem;
}
.form-order-by button, .form-search button{
    background-color: #646465;
    border: none;
    margin: 0.1rem;
    color: #FFF;
    font-size: 1.2rem;
    padding: 0.4rem 1rem;
}

/* @MAIN SECTION */
main {

}

main section {

}

main section article {

}


/* @MAIN SECTION - HOME ARTICLE */
main section article.home-article-element {
    margin-top: 1.5rem;
    cursor: pointer;
}
main section article.home-article-element a  {
    color: black;
}

main section article.home-article-element a:hover {
    text-decoration: none;
}
main section article.home-article-element .home-article-element-mainimg {
    width: 100%;
}

main section article.home-article-element .home-article-element-body {
    position: relative;
    padding: 0rem 1.25rem;
}

main section article.home-article-element .home-article-element-body .home-article-element-body-logo {
    position: absolute;
    top: 0;
    right: 0;
}

main section article.home-article-element .home-article-element-cost {

    font-weight: bold;
    font-size: 1.5rem;
}

main section article.home-article-element .home-article-element-dimensioncost {
    margin-top: 1rem;
}
main section article.home-article-element .home-article-element-title {
    margin-top: 0.7rem;
    font-weight: bold;
    font-size: 1.1rem;
}
main section article.home-article-element .home-article-element-description {
    color: #818387;
}
main section article.home-article-element .home-article-element-contact {
    margin-top: 0.7rem;
}

main section article.home-article-element .home-article-element-contact i {
    margin-right: 0.5rem;
}
/* #MAIN SECTION - HOME ARTICLE */

main section article.local-article {
    margin-top: 1.5rem;
}

main section article.local-article .local-article-main-image {
    width: 100%;
}

main section article.local-article h1 {
    margin-top: 1rem;
}
main section article.local-article h2 {
    font-size: 1.5rem;
    font-weight: bold;
}
main section .form-solicitud {
    margin-top: 1.5rem;
}
main section .form-solicitud h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}
main section .form-solicitud button {
    display: inline-block;
    width: 100%;
    color: #FFFFFF;
    background-color: #ec394e;
    border: none;
    padding: 0.5rem 0;
}
/* #MAIN SECTION */


/* @FOOTER SECTION */
footer {

}
/* #FOOTER SECTION */
