
/*
    BASE LAYOUT CSS

    Colors

    hightlight   #EB3E4F
*/

.flex-basis-0 { flex-basis: 0;}

  @font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v9/NaPecZTIAOhVxoMyOr9n_E7fdMPmDaZRbrw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
body{font-family: 'Titillium Web', sans-serif !important;background: #F5F5F6; font-display: auto;}

*{box-sizing: border-box;}
select { position: relative;}

/* @HEADER SECTION */
header {
    background-color: #FFF;
    margin-bottom: 1rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.header-footer {
    background-color: #ee1d23;
    height: 2px;
}

header i {
    color: #646465;
    font-size:25px;
    margin-right: 1.4rem;
}

header .header-wrapper {
    padding: 0rem 1.25rem;
}
header  .header-wrapper .logo {
    margin-left: 0.4rem;
}
.toast-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 1025;
}
.toast {
    width: 12rem;
}
.toast button {
    position: absolute;
    top: 0px;
    right: 5px;
}
.toast-header {
    padding: 0.8rem 1.5rem;
}
/* #HEADER SECTION */
/*
aside img {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
*/
.cursor-pointer {cursor: pointer;}
   .select-wrapper { position: relative;}
.select-empty::after {
    content: '\f0b0';
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    display: block;
    position: absolute;
    top: 50%;
    color: rgba(0,0,0,0.3);
    left: 5px;
    transform: translateY(-50%);
}/* @NAV SECTION */
nav {

}
/* #NAV SECTION */
.form-search {
    margin-bottom: 1.2rem;
}
.form-search .form-search-input-wrapper, .form-search  .form-search-button-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0.1rem;
}

.form-search  .form-search-button-wrapper label, .form-search .form-search-input-wrapper label, aside label {
    color: #818387;
    font-size: 0.8rem;
    margin-left: 3px;
    margin-bottom: 1px;
}
.form-search-button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.form-order-by {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.form-order-by button i {
    margin-left: 5px;
}
.form-order-by .active-button {
    opacity: 1;
}
.form-order-by button {
    opacity: 0.8;
}
.form-order-by button, .form-search button {
    background-color: #646465;
    margin: 0.1rem;
    color: #FFF;
}
.form-search button {
    width: 100%;
    margin: 0 15px;
}

/* @MAIN SECTION */
main {
    position: relative;
}

main section {

}

main section article {

}

.pagination .page-link {
    color: #818387 !important;
}
.page-item.active .page-link {
    background-color: #646465 !important;
}
/* @MAIN SECTION - HOME ARTICLE */
.section-form-search {
    background-color: #FFF;
    padding: 1.25rem 1.25rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

main section article.home-article-element {
    margin-top: 1.5rem;
    cursor: pointer;
    background-color: #FFF;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
main section article.home-article-element figure {
    display: flex;
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;

}

main section article.home-article-element .home-article-element-relevante {
    position: absolute;
    top: 0;
    right: 10px;
    color: #FFF;
    font-size: 28px;
}

main section article.home-article-element a  {
    color: black;
}

main section article.home-article-element a:hover {
    text-decoration: none;
}

main section article.home-article-element .home-article-element-body {
    position: relative;
    padding: 1.25rem 1.25rem 1rem 1.25rem;
}

main section article.home-article-element  .home-article-element-footer {
    border-top: 1px solid  rgba(0,0,0,.125);
    position: relative;
    padding: 1rem 1.25rem 1rem 1.25rem;
}

main section article.home-article-element .home-article-element-body .home-article-element-body-logo {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ee1d23;
    width: 30%;
    padding: 10px;
}
main section article.home-article-element .home-article-element-body .home-article-element-body-logo img {
    width: 100%;
}

 .home-article-element-cost {
    font-weight: bold;
    font-size: 1.3rem;
}

.home-article-element-cost-wrapper{
    margin: 1rem 0;
}

.home-article-element-cost small {
    color: #818387;
    font-size: 0.8rem;
}

main section article.home-article-element .home-article-element-dimensioncost {
    margin-top: 1rem;
}

main section article.home-article-element .home-article-element-title {
    margin-top: 2rem;
    font-weight: bold;
    font-size: 1.1rem;
}
main section article.home-article-element .home-article-element-description {
    color: #818387;
}

main section article.home-article-element .home-article-element-contact i {
    margin-right: 0.5rem;
}
/* #MAIN SECTION - HOME ARTICLE */

main section article.local-article {
    margin-top: 1.5rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    background-color: #FFF;
}

main section article.local-article .local-article-main-image {
    width: 100%;
}
main section article.local-article  .local-article-titulo {
    border-bottom: 1px solid  rgba(0,0,0,.125);
    padding: 1.25rem;
}
main section article.local-article  .local-article-titulo h1 {
    font-size: 2rem;
    text-align: center;
}
main section article.local-article  .local-article-titulo h2 {
    text-align: center;
    color: #818387;
}

main section article.local-article h2 {
    font-size: 1.5rem;
}

main section article.local-article  .local-article-sector {
    display: flex;
    justify-content: flex-end;
    padding: 0.8rem 1.25rem;
}
main section article.local-article  .local-article-sector h2 {
    color: #818387;
    font-size: 1.2rem;
}

main section article.local-article .local-article-descripcion {
    padding: 1.25rem;
}
main section article.local-article .local-article-attrs {
    padding: 1.25rem;
}

aside .aside-local article{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
aside article .list-group h2 {
    font-size: 1.3rem;
    font-weight: bold;
}
aside article .list-group-item.active {
    display: flex;
    align-items: center;
}
aside article .list-group-item.active i {
    margin-right: 1rem;
}

.list-group .list-group-item.active {
    background-color: #FFF;
    color: black;
    border: 1px solid rgba(0,0,0,.125);
    position: sticky;
    top: 0;
    z-index: 90;
    border-bottom-color: rgba(0,0,0,.225);
}
  .list-group .list-group-item.active h2 {
    margin: 0;
}
main section .local-article-footer {
    border-top: 1px solid rgba(0,0,0,.125);
    position: relative;
    padding: 1rem 1.25rem 1rem 1.25rem;
}

main section .form-solicitud {
    margin-top: 1.5rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    background-color: #FFF;
}
main section .form-solicitud-header {
    border-bottom: 1px solid rgba(160,160,160,0.3);
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    top: 0;
    z-index: 90;
    background-color: #FFF;
    border-bottom-color: rgba(0,0,0,.225);
}
main section .form-solicitud-header i {
    margin-right: 1rem;
}
main section .form-solicitud-header h2 {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 1.3rem;
    font-weight: bold;
}
main section  .form-solicitud-body {
    padding: 0.75rem 1.25rem;
}
main section .form-solicitud button {
    width: 100%;
}
/* #MAIN SECTION */


/* @FOOTER SECTION */
footer {
    background-color: #313131;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 5rem;
}
footer .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    font-size: 16px;
    color: #999999;
}
footer .footer-links > span {
    margin: 0 0.4rem;
}

footer .footer-links a {
    text-decoration: none;
    color: #eb3e4f;
}

footer .footer-links a:hover {
    text-decoration: none;
}
footer .footer-logos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
footer .footer-logos img {
    width: 100%;
}
/* #FOOTER SECTION */

.admin-area .card {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.table-responsive {
    display: table;
}
.admin-table-wrapper {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.admin-table-wrapper-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.admin-table-wrapper-filters {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 1.25rem;
}
.admin-table-wrapper-filters-group {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    overflow: hidden;
    padding-top: 25px;
    position: relative;
}
.admin-table-wrapper-filters-group label {
    font-size: 0.8rem;
    margin-left: 0.2rem;
    margin-bottom: 0.2rem;
    position: absolute;
    top: 0;
    transition: all 0.3s;
}

.admin-table-wrapper-filters-group:hover label {
    font-size: 1rem;
    transition: all 0.3s;
    top: -5px;;
}
.admin-table-wrapper-filters-group input, .admin-table-wrapper-filters-group select {
    padding: .25rem .5rem;
    padding-top: 0.25rem;
    padding-right: 0.5rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    height: calc(1.5em + .5rem + 2px);
}
.admin-table-wrapper-header-title {
    font-weight: bolder;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.admin-table-wrapper-header-info {

}

.admin-table-wrapper-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.admin-table-wrapper-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.admin-table-wrapper .admin-table {
    width: 100%;
    border-collapse: collapse;
}

.admin-table-wrapper .admin-table thead tr {

}

.admin-table-wrapper .admin-table tbody tr:hover {
    background-color: rgba(0,0,0,.075);
}
.admin-table-wrapper .admin-table thead tr th {
    border: 1px solid #dee2e6;
    padding: .75rem;
    vertical-align: middle;
}

.admin-table-wrapper .admin-table .admin-table-actions-col-wrapper {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.admin-table-wrapper .admin-table tbody td {
    border: 1px solid #dee2e6;
    padding: .30rem .70rem;
    vertical-align: middle;
}






.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.resp-sharing-button--linkedin {
  background-color: #0077b5;
  border-color: #0077b5;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  background-color: #046293;
  border-color: #046293;
}

.resp-sharing-button--whatsapp {
  background-color: #25D366;
  border-color: #25D366;
}

.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
  background-color: #1DA851;
  border-color: #1DA851;
}
.lozad {
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    transition: opacity 1s;
}
.lozad.loaded {
    opacity: 1;
    visibility: visible;
}

aside img.lozad.loaded {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

#form-search-wrapper-mask {
    z-index: 95;
    display: none;
    background-color: rgba(0,0,0,0.5);
}
.form-imagen {
    border: 1px solid rgba(0,0,0,.125);
    padding: 0.5rem;
    border-radius: .25rem;
}
@media (max-width:991px) {
    header {
        background-color: #FFF;
        margin-bottom: 0rem;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    }
    .header-footer {
height: 1px;
    }

    #form-search-wrapper-mask {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
    }
    #form-search {
        display: none;
    }
    .form-search .form-search-input-wrapper, .form-search .form-search-button-wrapper {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
    }
    .form-search button {
        margin: 1.1rem 0;
    }
    .form-order-by-text {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .form-search-wrapper {
        width: 100% !important;
        max-width: 100% !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
        position: sticky;
        top: 0;
        z-index: 100;
        max-width: none;
        max-height: calc(100vh - 6rem);
        overflow-y: auto;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    }


    main section .local-article-footer {
        display: flex;
        justify-content: space-around;
    }


    main section article.home-article-element figure {
        min-height: 10rem;
    }
    main section article.home-article-element .home-article-element-title {
        margin-top: 1.7rem;
    }

    footer .footer-links > span {
        display: none;
    }
    footer .footer-links{
        flex-wrap: wrap;
        justify-content: center;;
    }
    footer .footer-links > div:first-child {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 1rem
        font-size: 1.3rem;
    }
    footer .footer-links > div {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        text-align: center;
    }
    .form-order-by button {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    #section-form-search-toggle a {
        color: black;
    }
    #section-form-search-toggle i {
        border-radius: 0.25rem;
        border: 1px solid rgba(0, 0, 0, 0.125);
        padding: 0.55rem;
    }
    .section-form-search {
        padding: 1rem 1.25rem;
    }
    .admin-table-wrapper-filters {
        flex-wrap: wrap;
    }
    .admin-table-wrapper-filters-group {
        flex: 1 1 100%;
    }
    .table-responsive {
        display: block;
    }
}
